.App {
    max-width: 900px;
    margin: auto auto;
    padding: 5px;
    background-color: #394049;
    border-radius: 5px;
    color: #fff;
}

.todo-header {
    padding: 0.5em;
    border-bottom: 1px solid #2c3035;
    text-align: center;
}

.form-todo {
    padding: 1em;
    margin: 0 2em;
    border-bottom: 1px solid #2c3035;
}

.form-todo h2,
.list-todo h2 {
    text-align: center;
    margin-top: 0;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    font-size: .7em;
    margin-bottom: .4em;
}

.form-control input {
    border: 1px solid #222;
    border-radius: 2px;
    background: #2c3035;
    padding: .5em;
    color: #dfdfdf;
}



input[type='submit'] {
    background-color: #333;
    color: #eee;
    display: block;
    width: 100%;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
}

.list-todo > p {
    text-align: center;
    margin-bottom: 2em;
}

.done {
    text-decoration: line-through
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6em;
    box-shadow:  0 2px 7px 1px rgba(0, 0, 0, 0.2);
    padding: 0.2em;
    margin-top: 10px;
}

.manager
.manager-icon {
    width: 1.6em;
    height: 1.6em;
}

.manager {
    background-color: #F1F6F9;
    border-radius: 5px;
}


